
@import "../../styles/constants";

.card {
  display: block;
  margin-right: 30px;
  width: 31.333%;
  justify-content: center;
  flex-shrink: 0;
  border: 2px solid $additional-color;
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
  text-align: center;
  background-color: $light-color;
  transform: translate(0px);
  // animation: 5s ease-in-out;
}

.move {
  animation-name: left;
  animation: 0.5s ease-in-out;
}

@keyframes left {
  from {
    left: 0%;
  }
  to {
    left: -33.8%;
  }
}

// .card:nth-child(4) {
//   display: none;
// }

.card img {
  max-height: 300px;
  width: auto;
  object-fit: cover;
  margin-top: 15px;
}

.card h2 {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-family: 'Cabin Sketch', cursive;
}

.card p {
  font-size: 1rem;
  margin: 15px;
  text-align: justify;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
  animation-delay: 3s;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0%;
  }
  to {
    left: -33.3%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media screen and (max-width: 960px) {
  .card {
    width: 47.4%;
  }
}

@media screen and (max-width: 660px) {
  .card {
    width: 97%;
  }
}